@model CIS152FinalProjectWiedmier.Models.PriorityQueue
@{
    Layout = null;
}

@*/**************************************************************
    * Name : PROGRAM NAME
    * Author: Mandy Wiedmier
    * Created : 03/22/2023
    * Course: CIS 152 - Data Structure
    * Version: 1.0
    * OS: Windows 11
    * IDE: Visual Studio 2019
    * Copyright : This is my own original work
    * based onspecifications issued by our instructor
    * Description : An app that makes and sorts reservations
    *            Input: ReservationName, TypeOfReservation, DayOfWeek, NumOfPeople, PhoneNumber
    *            Ouput:
    * Academic Honesty: I attest that this is my original work.
    * I have not used unauthorized source code, either modified or
    * unmodified. I have not given other fellow student(s) access
    * to my program.
    ***************************************************************/*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Lottery Numbers</title>
</head>
<body>
    <h1>Restaurant Reservations</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
    <form asp-action="Index" method="post">
        <div asp-validation-summary="All"></div>

        <div>
            <label asp-for="Reservation.ReservationName">Name for Reservation: </label>
            <input asp-for="Reservation.ReservationName" />
        </div>
        <div>
            <label asp-for="Reservation.TypeOfReservation">Type of Reservation: </label>
            <input asp-for="Reservation.TypeOfReservation" />
        </div>
        <div>
            <label asp-for="Reservation.DayOfWeek">Day Preferred: </label>
            <input asp-for="Reservation.DayOfWeek" />
        </div>
        <div>
            <label asp-for="Reservation.NumOfPeople">Number of People: </label>
            <input asp-for="Reservation.NumOfPeople" />
        </div>
        <div>
            <label asp-for="Reservation.PhoneNumber">Phone Number: </label>
            <input asp-for="Reservation.PhoneNumber" />
        </div>
        <button type="submit">Place Reservation</button>
        <a asp-action="Index">Clear</a>
    </form>

    @*<p>@Model.</p>


        <div>
            <label>Name</label>
            <input value="@ViewBag.RN" readonly />
            <label>Priority</label>
            <input value="@ViewBag.P" readonly />
            <label>Day</label>
            <input value="@ViewBag.DOW" readonly />
            <label>People</label>
            <input value="@ViewBag.NOP" readonly />
            <label>Phone</label>
            <input value="@ViewBag.PN" readonly />
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Year</th>
                    <th>Genre</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reservation in Model.pq)
                {
                    <tr>
                        <td>@reservation.Name</td>
                        <td>@reservation.Year</td>
                        <td>@reservation.Genre.Name</td>
                        <td>@reservation.Rating</td>
                        <td>
                            <a asp-controller="Movie" asp-action="Edit" asp-route-id="@movie.MovieId" asp-route-slug="@movie.Slug">Edit</a>
                            <a asp-controller="Movie" asp-action="Delete" asp-route-id="@movie.MovieId" asp-route-slug="@movie.Slug">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>*@



</body>
</html>

